Source: vplane-config-qos
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: debhelper (>= 9), autotools-dev,
	       autoconf, automake, cpio, dh-yang, dh-vci, dh-python,
	       python3, python3-all, python3-setuptools, python3-pytest,
	       ebtables
Standards-Version: 3.9.6

Package: vplane-config-qos
Architecture: all
Depends: vplane-config (>= 1.1-1), vplane-config-npf (>= 0.4.0),
	 libvyatta-ioctl-perl,
	 libvyatta-interface-perl, libvyatta-file-perl, libvyatta-rate-perl,
	 libvyatta-dscp-perl, libconfig-tiny-perl, vyatta-cfg,
	 libjson-perl, configd (>= 1.6) | configd-trial (>= 1.6),
	 vyatta-dataplane-op-qos-8, vyatta-dataplane-cfg-qos-13,
	 ${misc:Depends}, ${perl:Depends}
Description: vyatta dataplane QoS templates
 Vyatta configuration/operational commands for Quality Of Service
 on dataplane.

Package: vyatta-policy-action-v1-yang
Architecture: all
Depends: vplane-config-qos, ${misc:Depends}, ${yang:Depends}
Description: Action groups YANG
 This YANG module provides the action groups configuration for use by
 NPF components.

Package: vyatta-policy-qos-augment-v1-yang
Architecture: all
Depends: ${misc:Depends}, ${yang:Depends}
Conflicts: vyatta-policy-qos-v1-yang
Description: QoS policy augment YANG
 This YANG module provides the qos augment under the policy
 configuration tree.

Package: vyatta-policy-qos-groupings-v1-yang
Architecture: all
Depends: vplane-config-qos, ${misc:Depends}, ${yang:Depends}
Description: QoS YANG groupings
 This YANG module provides common groupings for quality of service
 configuration that can be used for a number of interface types.

Package: vyatta-policy-qos-uplink-v1-yang
Architecture: all
Depends: vplane-config-qos, ${misc:Depends}, ${yang:Depends}
Description: Uplink QoS YANG
 This YANG module provides the quality of service configuration for
 uplink interface types.

Package: vyatta-policy-qos-v1-yang
Architecture: all
Depends: vplane-config-qos, ${misc:Depends}, ${yang:Depends}
Description: Dataplane QoS YANG
 This YANG module provides the quality of service configuration for
 dataplane interfaces.

Package: vyatta-policy-qos-platform-support
Architecture: all
Depends: vplane-config-qos, ${misc:Depends}, ${yang:Depends}
Description: QoS platform specific support
 This package provides YANG deviations and features specific to the
 quality of service configuration on specific platforms.

Package: vyatta-op-policy-qos-v1-yang
Architecture: all
Depends: vplane-config-qos, ${misc:Depends}, ${yang:Depends}
Description: Dataplane QoS op-mode YANG
 This YANG module provides the quality of service operational-mode
 commands.

Package: vyatta-vplane-qos-tests
Architecture: all
Depends: vplane-config-qos, ${misc:Depends}, python
Description: Vplane QoS tests
 This package contains the vplane-config-qos tests.

Package: vyatta-policy-qos-vci
Architecture: any
Priority: extra
Depends: python3, python3-vci, python3-systemd, ${misc:Depends},
	 vyatta-resources-group-v1-yang (>= 4.1.0), vyatta-res-grp-vci
Description: Policy QoS VCI Service
 Service for policy qos commands using the Vyatta Component Infrastructure.
